updates:
{{- range $policy := index $.Vars.routing_policy.policy }}
- path: /routing-policy/policy[name={{ $policy.name }}]
  value:
  - default-action:
      reject: {}
    name: {{ $policy.name }}
    statement:
  {{- range $statement := $policy.statement }}
    - action:
        accept: {}
      match:
        prefix-set: {{ $statement.match.prefix_set }} 
      sequence-id: {{ $statement.sequence_id }}
  {{- end }}
{{- end }}